.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card {
    display: flex;
    padding: 30px;
    margin: 10px 30px 30px 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    min-width: calc(100% - 60px);
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.pb_10 {
    padding-bottom: 10px;
}

.flex_1 {
    flex: 1;
}

.cardAction {
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.cardAction span {
    flex: 1;
}

.cardAction button {
    margin-left: 10px;
}

.img {
    height: 400px;
    width: 300px;
    margin-left: 20px;
}

.truncate {
    /*width: 250px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
